<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logname" value="CounterStrikeDashboard" />
    <variable name="layout" value="${longdate} ${level} ${callsite} : ${message}" />
    <targets>
      <target name="AllFileTarget" xsi:type="File" fileName="${logname}.ALL.log" layout="${layout}" maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${logname}.ALL.{#######}.log" />
      <target name="ErrorFileTarget" xsi:type="File" fileName="${logname}.ERROR.log" maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${logname}.ERROR.{#######}.log" />
      <target name="ConsoleTarget" xsi:type="ColoredConsole" layout="${layout}" />
    </targets>
    <rules>
      <logger writeTo="AllFileTarget,ConsoleTarget" minlevel="Debug" />
      <logger writeTo="ErrorFileTarget" minlevel="Error" />
    </rules>    
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>