<h1>Dashboard</h1>
<button ng-click="reset()">Reset</button>

<div ng-repeat="mapScoreboard in getScoreboard().mapScoreboards">
    <h2>Map</h2>
    Mapname: {{mapScoreboard.map}}
    T: {{mapScoreboard.tScore}}
    CT: {{mapScoreboard.ctScore}}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>UID</th>
                <th>Points</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>TKs</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in mapScoreboard.rows">
                <td>{{$index + 1}}</td>
                <td>{{row.playerName}}</td>
                <td>{{row.playerUid}}</td>
                <td>{{row.points}}</td>
                <td>{{row.kills}}</td>
                <td>{{row.deaths}}</td>
                <td>{{row.teamkills}}</td>
                <td>{{row.team}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
