<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Øl Cs!</title>

    <link rel="stylesheet" type="text/css" href="Content/materialize/dist/css/materialize.min.css" />
</head>
<body ng-app="csDashApp" ng-controller="appController" style="background-color: #171410; color: #FFAA00">
    <header>
        <nav class="grey darken-4">
            <div class="nav-wrapper container">
                <ul class="left">
                    <li ng-class="{active: $route.current.activetab == 'dashboard'}"><a href="#/">Dashboard</a></li>
                    <li ng-class="{active: $route.current.activetab == 'configuration'}"><a href="#configuration">Configuration</a></li>
                </ul>
                <ul class="right" ng-switch="hub.state">
                    <li class="animate-switch valign-wrapper green-text" ng-switch-when="0">
                        Connected
                        <i class="mdi-communication-import-export"></i>
                    </li>
                    <li class="animate-switch valign-wrapper yellow-text" ng-switch-when="1">
                        Connecting
                        <i class="mdi-notification-sync"></i>
                    </li>
                    <li class="animate-switch valign-wrapper red-text" ng-switch-when="2">                        
                        Disconnected
                        <i class="mdi-notification-do-not-disturb"></i>
                    </li>
                    <li class="animate-switch valign-wrapper red-text" ng-switch-when="3">                        
                        Reconnecting
                        <i class="mdi-notification-sync"></i>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="container">
            <div ng-view></div>
        </div>
    </main>
    
    <script type="text/javascript" src="Content/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="Content/materialize/dist/js/materialize.js"></script>
    <script type="text/javascript" src="Content/signalr/jquery.signalR.min.js"></script>
    <script type="text/javascript" src="Content/angular/angular.min.js"></script>
    <script type="text/javascript" src="Content/angular-route/angular-route.min.js"></script>

    <script src="signalr/signalr/hubs"></script>

    <!-- COMMON -->
    <script type="text/javascript" src="App/Common/Serializer.js"></script>

    <!-- EVENTS -->
    <script type="text/javascript" src="App/Models/Events/EventBase.js"></script>
    <script type="text/javascript" src="App/Models/Events/Models/Player.js"></script>
    <script type="text/javascript" src="App/Models/Events/DefusedBombEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/JoinedTeamEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/KillEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/MapStartedEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/PlantedBombEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/PlayerAddedEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/RoundWinEvent.js"></script>
    <script type="text/javascript" src="App/Models/Events/StartedDefuseBombEvent.js"></script>

    <!-- MODELS -->
    <script type="text/javascript" src="App/Models/ISerializable.js"></script>
    <script type="text/javascript" src="App/Models/MapScoreboard.js"></script>
    <script type="text/javascript" src="App/Models/ScoreRowBase.js"></script>
    <script type="text/javascript" src="App/Models/MapScoreRow.js"></script>
    <script type="text/javascript" src="App/Models/Scoreboard.js"></script>

    <!-- SERVICES -->
    <script type="text/javascript" src="App/Services/HubService.js"></script>
    <script type="text/javascript" src="App/Services/HubBase.js"></script>
    <script type="text/javascript" src="App/Services/EventHub.js"></script>
    <script type="text/javascript" src="App/Services/ControlService.js"></script>

    <!-- CONTROLLERS -->
    <script type="text/javascript" src="App/Controllers/DashboardController.js"></script>
    <script type="text/javascript" src="App/Controllers/ConfigurationController.js"></script>
    <script type="text/javascript" src="App/Controllers/AppController.js"></script>
    <script type="text/javascript" src="App/App.js"></script>
</body>
</html>
