<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Øl Cs!</title>

    <link rel="stylesheet" type="text/css" href="Content/materialize/dist/css/materialize.min.css" />
</head>
<body ng-app="csDashApp" ng-controller="appController">
    <header>
        <nav class="indigo darken-1">
            <div class="nav-wrapper container">
                <ul class="left">
                    <li ng-class="{active: $route.current.activetab == 'dashboard'}"><a href="#/">Dashboard</a></li>
                    <li ng-class="{active: $route.current.activetab == 'configuration'}"><a href="#configuration">Configuration</a></li>
                </ul>
                <ul class="right" ng-switch="hub.state">
                    <li class="animate-switch valign-wrapper green-text" ng-switch-when="0">
                        Connected
                        <i class="mdi-communication-import-export"></i>
                    </li>
                    <li class="animate-switch valign-wrapper yellow-text" ng-switch-when="1">
                        Connecting
                        <i class="mdi-notification-sync"></i>
                    </li>
                    <li class="animate-switch valign-wrapper red-text" ng-switch-when="2">                        
                        Disconnected
                        <i class="mdi-notification-do-not-disturb"></i>
                    </li>
                    <li class="animate-switch valign-wrapper red-text" ng-switch-when="3">                        
                        Reconnecting
                        <i class="mdi-notification-sync"></i>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="container">
            <div ng-view></div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="Content/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="Content/signalr/jquery.signalR.min.js"></script>
    <script type="text/javascript" src="Content/angular/angular.min.js"></script>
    <script type="text/javascript" src="Content/angular-route/angular-route.min.js"></script>

    <script src="signalr/signalr/hubs"></script>

    <!-- COMMON -->
    <script type="text/javascript" src="App/Common/Serializer.js"></script>

    <!-- MODELS -->
    <script type="text/javascript" src="App/Models/ISerializable.js"></script>
    <script type="text/javascript" src="App/Models/Map.js"></script>
    <script type="text/javascript" src="App/Models/PlayerTuple.js"></script>
    <script type="text/javascript" src="App/Models/Session.js"></script>
    <script type="text/javascript" src="App/Models/TeamTuple.js"></script>

    <!-- SERVICES -->
    <script type="text/javascript" src="App/Services/HubService.js"></script>
    <script type="text/javascript" src="App/Services/HubBase.js"></script>
    <script type="text/javascript" src="App/Services/EventHub.js"></script>
    <script type="text/javascript" src="App/Services/ScoreService.js"></script>
    <script type="text/javascript" src="App/Services/ControlService.js"></script>

    <!-- CONTROLLERS -->
    <script type="text/javascript" src="App/Controllers/DashboardController.js"></script>
    <script type="text/javascript" src="App/Controllers/ConfigurationController.js"></script>
    <script type="text/javascript" src="App/Controllers/AppController.js"></script>
    <script type="text/javascript" src="App/App.js"></script>
</body>
</html>
